@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Inter",sans-serif;
  background:#0B1120;
  color:#F8FAFC;
  overflow-x:hidden;
}

section{
  width:min(1200px,90%);
  margin:auto;
  padding:120px 0;
}

::selection{
  background:#3B82F6;
  color:white;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#2563EB;
  border-radius:20px;
}

::-webkit-scrollbar-track{
  background:#0F172A;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
  border:none;
}

img{
  display:block;
  width:100%;
}

code{
  font-family:Consolas, monospace;
}

.glass{
  background:rgba(255,255,255,.05);
  backdrop-filter:blur(18px);
  border:1px solid rgba(255,255,255,.08);
}

.gradient{
  background:linear-gradient(
      90deg,
      #3B82F6,
      #60A5FA
  );
  -webkit-background-clip:text;
  color:transparent;
}

@media(max-width:768px){

section{
padding:80px 0;
}

}